In [18]:
import pandas as pd

In [24]:
df = pd.read_sas('RXQ_RX_G.XPT', format='xport', encoding='utf-8')
df

,SEQN,RXDUSE,RXDDRUG,RXDDRGID,RXQSEEN,RXDDAYS,RXDCOUNT
0,62161.0,1.0,FLUOXETINE,d00236,2.0,5840.0,2.0
1,62161.0,1.0,METHYLPHENIDATE,d00900,2.0,5840.0,2.0
2,62162.0,2.0,,,NaN,NaN,NaN
3,62163.0,2.0,,,NaN,NaN,NaN
4,62164.0,1.0,BUPROPION,d00181,2.0,9125.0,1.0
...,...,...,...,...,...,...,...
18699,71913.0,1.0,TETRACYCLINE,d00041,1.0,730.0,2.0
18700,71914.0,1.0,ALBUTEROL; IPRATROPIUM,d04066,2.0,3285.0,1.0
18701,71915.0,1.0,METFORMIN,d03807,2.0,1460.0,2.0
18702,71915.0,1.0,TAMSULOSIN,d04121,2.0,730.0,2.0
18703,71916.0,2.0,,,NaN,NaN,NaN

In [35]:
top40 = df['RXDDRUG'].value_counts().head(40).index.tolist()[1:]

# Keep only top 40 drugs
filtered = df[df['RXDDRUG'].isin(top40)]

# Group by column SEQN and aggregate RXDDRUG
filtered = filtered.groupby('SEQN')['RXDDRUG'].apply(list).reset_index()

# remove less than 3 drugs in combination
filtered = filtered[filtered['RXDDRUG'].apply(len) >= 3]

In [38]:
filtered

         SEQN                                            RXDDRUG
3     62183.0       [CETIRIZINE, FLUTICASONE NASAL, MONTELUKAST]
4     62191.0              [AMLODIPINE, METOPROLOL, SIMVASTATIN]
11    62221.0  [ALBUTEROL, FLUTICASONE; SALMETEROL, MONTELUKA...
12    62226.0  [AMLODIPINE, HYDROCHLOROTHIAZIDE; LISINOPRIL, ...
13    62228.0               [LISINOPRIL, METFORMIN, SIMVASTATIN]
...       ...                                                ...
2896  71882.0  [ALBUTEROL, FLUTICASONE NASAL, FLUTICASONE NASAL]
2898  71897.0  [HYDROCHLOROTHIAZIDE, LISINOPRIL, METFORMIN, S...
2899  71898.0  [HYDROCHLOROTHIAZIDE, LEVOTHYROXINE, LISINOPRI...
2900  71901.0  [ACETAMINOPHEN; HYDROCODONE, FUROSEMIDE, GLIPI...
2901  71902.0      [AMLODIPINE, HYDROCHLOROTHIAZIDE, METOPROLOL]

[969 rows x 2 columns]